.admin_main_wrap {
  display: flex;
  justify-content: center;
  //align-items: flex-start;
  align-items: center;
  height: 100vh;
  background-image: url('../../images/login_bg.jpeg'); /* 배경 이미지 경로 */
  background-size: cover;
  background-position: center;
}

.admin_box {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px; /* 최대 너비를 400px로 제한 */
  margin: 0 auto; /* 중앙 배치 */
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

/* 로고 이미지 스타일 */
.admin_box img {
  max-width: 250px;
  width: 100%; /* 로고 이미지 크기 */
  margin: 0;
}

.admin_category > li {
  padding: 12px;
  text-align: center;
  font-weight: bold;
}

.admin_category_wrap {
  height: 100vh;
  background-image: url('../../images/login_bg.jpeg'); /* 배경 이미지 경로 */
  background-size: cover;
  background-position: center;
  color: #fff;
}

.admin_category_gnb {
  background-color: #fff;
  padding: 25px;
  border-bottom-left-radius: 40px;
}

.admin_category_gnb > a > img {
  width: 30px;
  height: 30px;
  margin-bottom: 25px;
}

.admin_category_gnb > p {
  font-size: 18px;
  color: #000;
  font-weight: bold;
}

.admin_category_box {
  padding: 10px 20px;
  max-height: calc(100vh - 210px);
  overflow: auto;
}

.admin_category_txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 30px;
  font-size: 18px;
  font-weight: bold;
}

.admin_category_txt > img {
  width: 20px;
  height: 20px;
}
