.admin_main_wrap {
  display: flex;
  justify-content: center;
  //align-items: flex-start;
  align-items: center;
  height: 100vh;
  background-image: url('../../images/login_bg.jpeg'); /* 배경 이미지 경로 */
  background-size: cover;
  background-position: center;
}

.admin_box {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px; /* 최대 너비를 400px로 제한 */
  margin: 0 auto; /* 중앙 배치 */
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

/* 로고 이미지 스타일 */
.admin_box img {
  max-width: 250px;
  width: 100%; /* 로고 이미지 크기 */
  margin: 0;
}

.admin_category > li {
  padding: 12px;
  text-align: center;
  font-weight: bold;
}
