.admin_form_list {
  display: flex;
  flex-direction: column;
  align-item: center;
  gap: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* input 및 버튼 컨테이너 스타일 */
.input_container {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

/* input 필드 스타일 */
input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  padding-right: 80px; /* 오른쪽 패딩으로 버튼 자리 확보 */
  border: 1px solid #ffd700; /* 노란색 테두리 */
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

/* 중복확인 버튼 스타일 */
.check_button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px 10px;
  width: 70px; /* 버튼 너비 70px로 설정 */
  background-color: #ffd700;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-align: center; /* 텍스트 중앙 정렬 */
}

.input_txt {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  text-align: center;
  font-size: 14px;
}

/* label 스타일 */
label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  position: relative;
  padding-right: 80px; /* 상태 문구를 위한 공간 확보 */
}

/* 노란색 동그라미 */
.label_icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #ffd700;
  border-radius: 50%;
  margin-left: 5px;
  margin-bottom: 3px;
  vertical-align: middle;
}

/* 상태 문구 스타일 */
.label_status {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 11px;
  color: #fff;
}

/* 적용 버튼 스타일 */
button {
  width: 100%;
  padding: 10px;
  background-color: #ffd700;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
