/* 하단 네비게이션 바 스타일 */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 768px;
  background-color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.nav-item {
  text-align: center;
  font-size: 14px;
  color: #333;
  flex-grow: 1;
}

.nav-item img {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
  filter: brightness(0) invert(1); /* 아이콘을 흰색으로 변환 */
}

.nav-item a {
  text-decoration: none;
  color: inherit;
  display: block;
  color: #fff;
  position: relative;
}

.badge {
  position: absolute;
  top: -5px;
  right: 30%;
  color: #000;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #fff;
  font-weight: bold;
}

.badge.red {
  background-color: red;
}

.badge.blue {
  background-color: skyblue;
}

/* 반응형 처리 */
@media (max-width: 768px) {
  .nav-item {
    font-size: 12px;
  }

  .nav-item img {
    width: 20px;
    height: 20px;
  }

  .badge {
    right: 20%;
  }
}
